{
  "presets": [
    "env", "react"
  ],

  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "react-loadable/babel"
  ],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
